/* Author: Pavel Mednikov (hello@pavelmednikov.com) */
/* ============================ */
/* ============================ */
/* FONTS */
/* ============================ */
/* ============================ */
/* FLUID IMAGES */
img, embed, object, video, iframe {
  max-width: 100%; }

/* ============================ */
/* ============================ */
/* SETTINGS */
input {
  outline: none; }

button, textarea {
  outline: none !important; }

img {
  display: block; }

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold; }

p {
  margin-bottom: 20px; }

a {
  color: #2323f9;
  text-decoration: none; }
  a:hover, a:focus {
    color: #2323f9;
    text-decoration: underline; }

b, strong {
  font-weight: bolder; }

i {
  font-style: italic; }

small, .small {
  font-size: 85%; }

.left {
  float: left; }

.right {
  float: right; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* ELEMENTS */
.text ol, .text ul, .text dir, .text menu, .text dd {
  margin-left: 40px;
  margin-bottom: 20px; }
.text ol {
  list-style-type: decimal; }
.text ul {
  list-style-type: disc; }
.text ol ul, .text ul ol, .text ul ul, .text ol ol {
  margin-top: 0;
  margin-bottom: 0; }
.text ul ul, .text ol ul {
  list-style-type: circle;
  margin-left: 30px; }
.text ol ol, .text ul ol {
  list-style-type: lower-latin;
  margin-left: 30px; }
.text h1, .text h2, .text h3, .text h4, .text h5, .text h6 {
  margin-top: 1em; }
.text p {
  line-height: 1.5em; }
.text.inner {
  padding: 40px !important; }

.caption {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  font-weight: bold; }

.mt-10 {
  margin-top: 10px; }

.mt-15 {
  margin-top: 15px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.mr-10 {
  margin-right: 10px; }

.mr-15 {
  margin-right: 15px; }

.mr-20 {
  margin-right: 20px; }

.mr-30 {
  margin-right: 30px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.ml-10 {
  margin-left: 10px; }

.ml-15 {
  margin-left: 15px; }

.ml-20 {
  margin-left: 20px; }

.ml-30 {
  margin-left: 30px; }

/* ============================ */
/* ============================ */
/* MAIN STYLES */
body {
  font-family: 'PT Sans', sans-serif;
  color: #222;
  overflow-x: hidden; }

header {
  padding-top: 20px;
  padding-right: 100px;
  padding-left: 100px; }
  header #mainLogo a {
    display: block;
    width: 40px;
    height: 40px; }
    header #mainLogo a svg {
      fill: #222;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    header #mainLogo a:hover {
      color: #2323f9; }
      header #mainLogo a:hover svg {
        fill: #2323f9; }
  header .nav, header .write {
    font-size: 87.5%;
    font-weight: bold; }
    header .nav a, header .write a {
      position: relative;
      color: #222; }
      header .nav a .fa, header .write a .fa {
        position: relative;
        top: 0;
        left: 0;
        opacity: 1;
        margin-right: 0.7em;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      header .nav a:hover, header .nav a:focus, header .write a:hover, header .write a:focus {
        text-decoration: none;
        color: #2323f9; }
        header .nav a:hover .fa, header .nav a:focus .fa, header .write a:hover .fa, header .write a:focus .fa {
          opacity: 0;
          top: -40px;
          left: 80px; }

#hero {
  padding: 40px 100px; }
  #hero .hero-info {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px; }
    #hero .hero-info .name {
      font-size: 6rem; }
    #hero .hero-info .descr {
      display: inline-block;
      position: relative;
      margin-left: 60px;
      margin-top: 20px;
      font-size: 1.5rem;
      font-weight: bold; }
      #hero .hero-info .descr span {
        color: #2323f9; }
      #hero .hero-info .descr:before {
        content: '';
        position: absolute;
        top: -10px;
        left: 0;
        width: 100%;
        border-top: 2px solid #222; }
    #hero .hero-info .dot-pattern {
      position: absolute;
      top: 0;
      height: 100%;
      background: url('../img/dot.png');
      z-index: -1; }

.projects {
  padding: 0 100px;
  position: relative; }
  .projects .section {
    position: absolute;
    top: 0;
    left: -5rem;
    font-size: 12rem;
    color: #fff0f0;
    z-index: -1;
    background: linear-gradient(#fff0f0 30%, #fff);
    -webkit-background-clip: text;
    color: transparent; }
  .projects .projects-grid {
    padding-top: 300px; }
    .projects .projects-grid .project {
      margin-bottom: 10em; }
      .projects .projects-grid .project .project-info {
        position: relative;
        color: black; }
        .projects .projects-grid .project .project-info .num {
          position: absolute;
          top: -140px;
          left: -40px;
          color: #fff0f0;
          font-size: 10rem;
          z-index: -1; }
        .projects .projects-grid .project .project-info a {
          position: relative;
          text-decoration: none;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
          .projects .projects-grid .project .project-info a:before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50px;
            margin-left: -25px;
            border-bottom: 1px solid #2323f9;
            opacity: 0;
            -webkit-transform: rotate(45deg) translate(-50px);
            -moz-transform: rotate(45deg) translate(-50px);
            -o-transform: rotate(45deg) translate(-50px);
            transform: rotate(45deg) translate(-50px);
            -webkit-transition: all 0.15s ease-in-out;
            -moz-transition: all 0.15s ease-in-out;
            -o-transition: all 0.15s ease-in-out;
            transition: all 0.15s ease-in-out; }
          .projects .projects-grid .project .project-info a:hover:before {
            opacity: 1;
            -webkit-transform: rotate(45deg) translate(0);
            -moz-transform: rotate(45deg) translate(0);
            -o-transform: rotate(45deg) translate(0);
            transform: rotate(45deg) translate(0); }
      .projects .projects-grid .project .pic {
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 0;
        border: 1px solid #fff0f0; }
        .projects .projects-grid .project .pic.ver {
          height: 300px; }
        .projects .projects-grid .project .pic.small {
          height: 150px; }
        .projects .projects-grid .project .pic.brand {
          background-size: contain;
          background-position: 50% 50%;
          border: none; }
      .projects .projects-grid .project.odd .project-info {
        text-align: right; }
        .projects .projects-grid .project.odd .project-info .num {
          right: -40px; }

.clients-grid {
  padding-top: 160px; }
  .clients-grid img {
    display: inline-block;
    max-height: 100px; }

footer {
  margin-top: 200px; }

@media (max-width: 991px) {
  .projects .projects-grid .project .project-info {
    margin-top: 40px; }
  .projects .projects-grid .project.odd .project-info {
    margin-bottom: 40px;
    text-align: left; }
 }

@media (max-width: 767px) {
  #hero .hero-info .name {
    font-size: 5rem; }
 }

@media (max-width: 575px) {
  #hero .hero-info .name {
    font-size: 3rem; }
  #hero .hero-info .descr {
    font-size: 1rem; }

  .projects .section {
    font-size: 7rem; }
 }
