/* Author: Pavel Mednikov (hello@pavelmednikov.com) */
/* ============================ */
/* ============================ */
/* FONTS */
/* ============================ */
/* ============================ */
/* FLUID IMAGES */
img, embed, object, video, iframe {
  max-width: 100%; }

/* ============================ */
/* ============================ */
/* SETTINGS */
input,
input.form-control,
textarea.form-control {
  outline: none;
  color: #49089a; }

button, textarea,
button:hover, textarea:hover,
button:focus, textarea:focus,
button:active, textarea:active {
  outline: none !important; }

.modal .form-control {
  color: #49089a; }
  .modal .form-control:focus {
    border: 1px solid #49089a; }
  .modal .form-control::-webkit-input-placeholder, .modal .form-control::-moz-placeholder, .modal .form-control:-ms-input-placeholder, .modal .form-control:-moz-placeholder {
    color: #9f84d4 !important; }
.modal .modal-header {
  background-color: #49089a; }
  .modal .modal-header .modal-title {
    color: #fff; }
  .modal .modal-header .close {
    color: #fff; }
.modal .modal-footer {
  background-color: #f5f3f9; }

.parsley-error {
  border-color: red; }
  .parsley-error:focus {
    border-color: red !important; }

.parsley-errors-list {
  padding-left: 0;
  color: red; }
  .parsley-errors-list li {
    font-size: 12px;
    list-style-type: none; }

.btn {
  display: inline-block;
  background-color: transparent;
  margin: 0 auto;
  padding: 10px 30px;
  color: #49089a;
  text-decoration: none;
  border: 2px solid #49089a;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  border-radius: 40px;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .05em;
  cursor: pointer; }
  .btn:hover, .btn:focus {
    background-color: #49089a;
    color: #fff;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }

img {
  display: block; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', serif;
  font-weight: bold;
  color: #49089a; }

p {
  margin-bottom: 20px; }

a {
  color: #49089a;
  border-bottom: 1px solid #49089a; }
  a:hover, a:focus {
    color: #9f84d4;
    text-decoration: none;
    border-color: #9f84d4; }

b, strong {
  font-weight: bolder; }

i {
  font-style: italic; }

small, .small {
  font-size: 85%; }

.left {
  float: left; }

.right {
  float: right; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* ELEMENTS */
.text ol, .text ul, .text dir, .text menu, .text dd {
  margin-left: 40px;
  margin-bottom: 20px; }
.text ol {
  list-style-type: decimal; }
.text ul {
  list-style-type: disc; }
.text ol ul, .text ul ol, .text ul ul, .text ol ol {
  margin-top: 0;
  margin-bottom: 0; }
.text ul ul, .text ol ul {
  list-style-type: circle;
  margin-left: 30px; }
.text ol ol, .text ul ol {
  list-style-type: lower-latin;
  margin-left: 30px; }
.text blockquote {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-left: 60px;
  position: relative;
  font-style: italic; }
  .text blockquote:before {
    content: "\201C";
    position: absolute;
    top: -68px;
    left: -20px;
    font-size: 180px;
    color: #f5f3f9;
    z-index: -1; }
.text p {
  line-height: 1.5em; }
  .text p img {
    text-align: center; }
.text img {
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 0 3rem 4rem rgba(50, 8, 154, 0.25);
  margin-top: 60px;
  margin-bottom: 100px; }
.text.inner {
  padding: 40px !important; }

img.cover {
  margin-top: 0; }

img.emoji {
  display: inline;
  margin: 0; }

.caption {
  font-family: 'Ubuntu', serif;
  font-size: 48px;
  font-weight: bold; }

.subheading {
  font-family: 'PT Sans', sans-serif;
  font-weight: 300;
  color: #9f84d4;
  margin-bottom: 20px;
  line-height: inherit; }

.icon-stack {
  display: inline-block;
  padding: 0;
  list-style-type: none;
  font-size: 24px; }
  .icon-stack li {
    float: left;
    margin-right: 20px; }
    .icon-stack li:last-child {
      margin-right: 0; }

.section-heading {
  margin-left: -40px;
  display: block;
  width: 100px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #9f84d4;
  letter-spacing: .05em;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }

.affix {
  top: 65px; }

.mt-10 {
  margin-top: 10px; }

.mt-15 {
  margin-top: 15px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.mr-10 {
  margin-right: 10px; }

.mr-15 {
  margin-right: 15px; }

.mr-20 {
  margin-right: 20px; }

.mr-30 {
  margin-right: 30px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.ml-10 {
  margin-left: 10px; }

.ml-15 {
  margin-left: 15px; }

.ml-20 {
  margin-left: 20px; }

.ml-30 {
  margin-left: 30px; }

.highlight {
  border-left: 10px solid #f5f3f9;
  padding-left: 20px; }

.highlight .hll {
  background-color: #ffffcc; }

.highlight .c {
  color: #aaaaaa;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #F00000;
  background-color: #F0A0A0; }

/* Error */
.highlight .k {
  color: #0000aa; }

/* Keyword */
.highlight .cm {
  color: #aaaaaa;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #4c8317; }

/* Comment.Preproc */
.highlight .c1 {
  color: #aaaaaa;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #0000aa;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #aa0000; }

/* Generic.Deleted */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #000080;
  font-weight: bold; }

/* Generic.Heading */
.highlight .gi {
  color: #00aa00; }

/* Generic.Inserted */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #800080;
  font-weight: bold; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  color: #0000aa; }

/* Keyword.Constant */
.highlight .kd {
  color: #0000aa; }

/* Keyword.Declaration */
.highlight .kn {
  color: #0000aa; }

/* Keyword.Namespace */
.highlight .kp {
  color: #0000aa; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #0000aa; }

/* Keyword.Reserved */
.highlight .kt {
  color: #00aaaa; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #aa5500; }

/* Literal.String */
.highlight .na {
  color: #1e90ff; }

/* Name.Attribute */
.highlight .nb {
  color: #00aaaa; }

/* Name.Builtin */
.highlight .nc {
  color: #00aa00;
  text-decoration: underline; }

/* Name.Class */
.highlight .no {
  color: #aa0000; }

/* Name.Constant */
.highlight .nd {
  color: #888888; }

/* Name.Decorator */
.highlight .ni {
  color: #800000;
  font-weight: bold; }

/* Name.Entity */
.highlight .nf {
  color: #00aa00; }

/* Name.Function */
.highlight .nn {
  color: #00aaaa;
  text-decoration: underline; }

/* Name.Namespace */
.highlight .nt {
  color: #1e90ff;
  font-weight: bold; }

/* Name.Tag */
.highlight .nv {
  color: #aa0000; }

/* Name.Variable */
.highlight .ow {
  color: #0000aa; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #aa5500; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #aa5500; }

/* Literal.String.Char */
.highlight .sd {
  color: #aa5500; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #aa5500; }

/* Literal.String.Double */
.highlight .se {
  color: #aa5500; }

/* Literal.String.Escape */
.highlight .sh {
  color: #aa5500; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #aa5500; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #aa5500; }

/* Literal.String.Other */
.highlight .sr {
  color: #009999; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #aa5500; }

/* Literal.String.Single */
.highlight .ss {
  color: #0000aa; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #00aaaa; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #aa0000; }

/* Name.Variable.Class */
.highlight .vg {
  color: #aa0000; }

/* Name.Variable.Global */
.highlight .vi {
  color: #aa0000; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
/* ============================ */
/* ============================ */
/* MAIN STYLES */
body {
  font-family: 'PT Sans', sans-serif;
  color: #222; }

header {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f3f9;
  border-top: 3px solid #49089a; }

.logo {
  display: inline-block;
  border-bottom: none; }
  .logo svg {
    display: block;
    height: 46px;
    fill: #49089a; }
    .logo svg polygon:hover {
      fill: #9f84d4; }
  .logo:hover {
    cursor: pointer; }

.main-menu {
  padding: 19px 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .05em; }
  .main-menu a {
    position: relative;
    padding: 10px 40px 9px 30px;
    color: #49089a;
    text-decoration: none;
    border: 2px solid #49089a;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    border-radius: 40px; }
    .main-menu a .fa {
      position: relative;
      top: 0;
      left: 0;
      opacity: 1;
      margin-right: .7em;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .main-menu a:hover, .main-menu a:focus {
      text-decoration: none; }
      .main-menu a:hover .fa, .main-menu a:focus .fa {
        opacity: 0;
        top: -40px;
        left: 80px; }

section {
  padding-top: 40px;
  padding-bottom: 40px; }
  section:last-of-type {
    padding-bottom: 80px; }

.hero {
  padding-top: 0;
  background-color: #f5f3f9; }

.hero-index {
  padding-bottom: 200px; }

.slogan {
  margin-bottom: 20px;
  font-size: 46px;
  font-weight: bold; }

.icon-stack a {
  border-bottom: none; }

.works {
  padding-top: 0;
  margin-top: -100px; }
  .works .work {
    position: relative;
    margin-bottom: 80px;
    display: inline-block;
    width: 400px;
    height: 300px;
    box-shadow: 0 3rem 4rem rgba(50, 8, 154, 0.25);
    border-bottom: none; }
    .works .work:hover .info, .works .work:focus .info {
      margin-top: 20px;
      margin-left: 20px;
      opacity: 1; }
    .works .work:hover .tags, .works .work:focus .tags {
      opacity: 0; }
    .works .work .info {
      position: absolute;
      top: 0;
      left: 0;
      display: table;
      width: 100%;
      height: 100%;
      margin: 0;
      background-color: rgba(50, 8, 154, 0.75);
      opacity: 0;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .works .work .info .work-name {
        display: table-cell;
        margin-top: 0;
        margin-left: 0;
        padding: 40px;
        color: #fff;
        vertical-align: middle; }
    .works .work .tags {
      position: absolute;
      top: -10px;
      left: 101%;
      opacity: 1;
      color: #9f84d4;
      font-size: 12px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
      -webkit-transform-origin: bottom left;
      -moz-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
      -o-transform-origin: bottom left;
      transform-origin: bottom left; }
    .works .work .work-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
  .works .col-md-12 .work {
    width: 800px;
    height: 600px; }

.clients {
  padding-bottom: 120px; }

.clients-grid .row {
  margin-top: 40px; }
.clients-grid img {
  display: inline-block;
  max-height: 100px; }

.services {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f5f3f9; }

.service-list {
  margin-bottom: 0;
  list-style-type: none;
  font-size: 21px; }
  .service-list li {
    position: relative;
    padding-bottom: 10px; }
    .service-list li:before {
      content: "";
      position: absolute;
      top: 15px;
      left: -40px;
      width: 30px;
      border-bottom: 2px solid #49089a; }
    .service-list li:last-of-type {
      padding-bottom: 0; }

footer {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f5f3f9; }
  footer a {
    text-decoration: none; }

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #49089a;
  color: #9f84d4;
  font-size: 14px; }

.project {
  padding-top: 0;
  margin-top: -120px; }

.post-list,
.post {
  padding-top: 80px; }

.post-list-home {
  padding-top: 80px;
  padding-bottom: 40px !important;
  border-top: 10px solid #9f84d4;
  border-bottom: 10px solid #9f84d4; }
  .post-list-home .title {
    margin-top: 1.45rem;
    margin-bottom: 0;
    line-height: inherit; }
  .post-list-home .subheading {
    margin-top: 1.5rem;
    line-height: inherit; }

.pagination {
  padding-bottom: 40px !important; }
  .pagination .page-number {
    color: #9f84d4; }

.post-item {
  margin-bottom: 20px; }

.date {
  margin-bottom: 5px;
  font-size: 13px;
  color: #9f84d4; }

.descr-heading {
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #9f84d4; }

.page-404 {
  padding-top: 80px; }
  .page-404 .huge {
    font-size: 72px; }
  .page-404 .page-404-img {
    display: inline-block;
    padding-top: 40px;
    max-height: 250px; }

@media (max-width: 1199px) {
  .works .work {
    width: 370px;
    height: 278px;
    margin-bottom: 30px; }
    .works .work:hover .info, .works .work:focus .info {
      margin-top: 10px;
      margin-left: 10px; }

  .cover {
    height: 278px; } }
@media (max-width: 991px) {
  .works .work {
    width: 270px;
    height: 203px; }

  .cover {
    height: 203px; } }
@media (max-width: 767px) {
  .cover {
    height: initial; } }
@media (max-width: 575px) {
  h1, h2, h3, h4, h5, h6, .slogan {
    font-size: 24px; }

  h2 {
    font-size: 22px; }

  h3, .subheading {
    font-size: 20px; }

  h4, .subheading {
    font-size: 18px; }

  h5 {
    font-size: 16px; }

  h6 {
    font-size: 14px; } }

/*# sourceMappingURL=style.css.map */
