/* ============================ */
/* ============================ */
/* FONTS */
@mixin fontcaption{
    font-family: 'Ubuntu', sans-serif;
}

@mixin fontstack{
    font-family: 'PT Sans', sans-serif;
}

@mixin fastack{
    font-family: FontAwesome, 'PT Sans', sans-serif;
}
