/* ============================ */
/* ============================ */
/* MAIN STYLES */
body{
    @include fontstack;
    color: $brand-dark;
    line-height: 1.5em;
    background-color: $brand-dark;
}

header{
	background-color: $white;

	.navbar{
		padding: 2rem;

		.logo{
			border-bottom: none;
		}
		#logo{
			height: 46px;

			polygon{
				fill: $brand-dark;

				&:hover{
					fill: $brand;
				}
			}
		}

		.navbar-toggler{
			border-color: transparent;

			.navbar-toggler-icon{
				fill: $brand-dark;
			}

			&:hover{
				.navbar-toggler-icon{
					color: $brand;
				}
			}
		}

		.navbar-nav{
			.nav-item{
				padding-left: 2rem;
				.nav-link{
					padding: 0;
					color: $brand-dark;
					font-weight: bold;
				}

				&:hover{
					.nav-link{
						color: $brand;
					}
				}
			}
		}
	}
}


section{
	// padding-top: 80px;
	// padding-bottom: 80px;
	padding: 80px 2rem;
	background-color: $white;

	.section-heading{
		padding-bottom: 60px;
	}

	.subheading{
		margin-bottom: 0;
	}

	&.page{
		padding-top: 0;
	}


	&.hero{
		padding-top: 0;
		padding-bottom: 32px;

		.subheading{
			margin-bottom: 1em;
		}

		.illustration{
			position: relative;
			width: 90%;
			height: 0;
			margin: 2rem 5%;
			padding-top: 42%;

			transform-style: preserve-3d;
      		transform: perspective(1500px);

			img{
				position: absolute;
				top: 0;
				left: 0;

				&.card-img-2{
		    		transform: translateZ(50px);
			    }
			    &.card-img-3{
			    	transform: translateZ(100px);
			    }
			    &.card-img-4{
			    	transform: translateZ(150px);
			    }
			}
		}
	}


	&.works{
		background-color: $brand;

		.section-heading{
			padding-bottom: 45px;
		}

		.slogan,
		.subheading{
			color: $white;
		}

		.work{
			display: block;
			padding-top: 15px;
			padding-bottom: 15px;
			border-bottom: none;
			-webkit-transition: none;
			   -moz-transition: none; 
			     -o-transition: none; 
			        transition: none;

			transform-style: preserve-3d;
      		transform: perspective(1500px);

			.work-img{
				position: relative;
				display: inline-block; /* REMOVE BORDERS */
			}
			.work-img-overlay{
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-image: -webkit-linear-gradient(rgba(5,10,50, .05) 30%, rgba(5,10,50, .75) 70%);
				background-image: linear-gradient(rgba(5,10,50, .05) 30%, rgba(5,10,50, .75) 70%);
			}
			.work-img-inner{
				position: absolute;
				width: 80%;
				height: 80%;
				top: 10%;
				left: 10%;

				transform: translateZ(50px);

				.work-img-text{
					position: absolute;
					bottom: 0;

					h1,h2,h3,h4,h5,h6,p{
						margin-bottom: 0;
						color: $white;
					}
				}
			}
		}
	}


	&.services{
		.service{
			margin-bottom: 2rem;

			img{
				width: 80px;
				height: 80px;
				margin-bottom: 1.5rem;
			}
		}
	}


	&.clients{
		background-color: $brand-dark;

		.slogan,
		.subheading{
			color: $white;
		}

		.client{
			margin-bottom: 2rem;
		}
	}


	&.post-list{
		.post-item{
			.post-item-card{
				display: block;
				height: 300px;
				padding: 40px;
				margin-bottom: 2rem;
				background: $brand;
				color: $white;
				border-bottom: none;
				overflow: hidden;
				@include animation(.15s);

				.title{
					display: inline;
					border-bottom: 1px solid transparent;
					@include animation(.15s);
				}

				&:hover,
				&:focus{
					// background: linear-gradient(45deg, $brand-gradient 0%, $brand 100%);
					box-shadow: 0px 10px 30px rgba(71,71,230, .25);

					.title{
						border-bottom-color: $white;
					}
				}
			}
		}

		.post-item-big{
			.post-item-card{
				.title{
					font-size: 1.5rem;
					line-height: 1.5em;
				}
			}
		}
	}


	&.contact{
		background-color: $brand-white;
	}

	&.about{
		.subheading{
			line-height: 1.5em;
		}
	}
}


footer{
	padding: 2rem;
	background-color: $brand-dark;
	color: $white;
	line-height: 1rem;

	.icon-stack{
		display: inline-block;
		margin-bottom: 0;
    padding: 0;
    list-style-type: none;

    li{
    	float: left;
    	margin-right: 20px;

    	a{
    		font-size: 1rem;
    		color: $white;
    		border: none;

    		&:hover,
    		&:focus{
    			color: $brand;
    		}
    	}

    	&:last-child{
    	    margin-right: 0;
    	}
    }
	}
}


section{
	&.post{
		.date{
			opacity: .5;
		}
	}
}


section{
	&.cv{
		background-color: $brand-white;
		border-bottom: 4px solid $white;

		h1,h2,h3,h4,h5,h6{
			line-height: 1.5em;
		}

		.cv-heading{
			opacity: .5;
		}
	}
}


section{
	&.contact-form{
		.form-group{
			.form-control{
				&:focus{
					border: 1px solid $brand;
				}
			}
		}
	}
}


.page-404-img{
	max-height: 250px;
}



.project{
	.descr{
		// margin-bottom: 60px;
		
		.descr-heading{
			margin-bottom: 0;
			opacity: .5;
		}
	}
}


