/* ============================ */
/* ============================ */
/* MAIN STYLES */
body{
    @include fontstack;
    color: $brand-dark;
    line-height: 1.5em;
}

header{
	.navbar{
		padding: 2rem;

		.logo{
			border-bottom: none;
		}
		#logo{
			height: 46px;

			polygon{
				fill: $brand-dark;

				&:hover{
					fill: $brand;
				}
			}
		}

		.navbar-toggler{
			border-color: transparent;

			.navbar-toggler-icon{
				fill: $brand-dark;
			}

			&:hover{
				.navbar-toggler-icon{
					color: $brand;
				}
			}
		}

		.navbar-nav{
			.nav-item{
				padding-left: 2rem;
				.nav-link{
					padding: 0;
					color: $brand-dark;
					font-weight: bold;
				}

				&:hover{
					.nav-link{
						color: $brand;
					}
				}
			}
		}
	}
}


section{
	padding-top: 80px;
	padding-bottom: 80px;

	&.hero{
		padding-top: 0;
		padding-bottom: 32px;

		.illustration{
			position: relative;
			width: 90%;
			height: 0;
			margin: 2rem 5%;
			padding-top: 42%;

			transform-style: preserve-3d;
      transform: perspective(1500px);

			img{
				position: absolute;
				top: 0;
				left: 0;

				&.card-img-2{
		    	transform: translateZ(50px);
		    }
		    &.card-img-3{
		    	transform: translateZ(100px);
		    }
		    &.card-img-4{
		    	transform: translateZ(150px);
		    }
			}
		}
	}
}



