/* Author: Pavel Mednikov (hello@pavelmednikov.com) */
// VARIABLES
// --colors
// $white:         #fff;

// $white-blue:    #f3f5f9;

// $brand:         #08329a;
// $light-blue:    #849dd4;

// $grey:          #ddd;

// $black:         #222;
$white:         #fff;
$link-border:   #ADADD6;

$brand:         #4747E6;
$brand-dark:    #11163C;
$brand-white:   #F8F8FF;

$brand-gradient: #242473;

// --measures
$margin:    10px;
$wrap:      1200px;


// MIXINS
// add with @include %mixin_name%
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin border-radius-2($radius1, $radius2) {
  -webkit-border-radius: $radius1 $radius2;
     -moz-border-radius: $radius1 $radius2;
      -ms-border-radius: $radius1 $radius2;
          border-radius: $radius1 $radius2;
}

@mixin border-radius-3($radius1, $radius2, $radius3) {
  -webkit-border-radius: $radius1 $radius2 $radius3;
     -moz-border-radius: $radius1 $radius2 $radius3;
      -ms-border-radius: $radius1 $radius2 $radius3;
          border-radius: $radius1 $radius2 $radius3;
}

@mixin border-radius-4($radius1, $radius2, $radius3, $radius4) {
  -webkit-border-radius: $radius1 $radius2 $radius3, $radius4;
     -moz-border-radius: $radius1 $radius2 $radius3, $radius4;
      -ms-border-radius: $radius1 $radius2 $radius3, $radius4;
          border-radius: $radius1 $radius2 $radius3, $radius4;
}

@mixin animation($duration) {
  -webkit-transition: all $duration ease-in-out;
     -moz-transition: all $duration ease-in-out; 
       -o-transition: all $duration ease-in-out; 
          transition: all $duration ease-in-out;
}

// Specific mixins
@mixin box-shadow($size, $color){
  -webkit-box-shadow: 0px 0px 2*$size $size $color;
     -moz-box-shadow: 0px 0px 2*$size $size $color;
          box-shadow: 0px 0px 2*$size $size $color;
}


// FONTS
@import 'fonts';

// CSS RESET
// @import 'reset';

// FLUID IMAGES
@import 'fluid-images';

// SETTINGS & GRID
@import 'settings';


// MAIN STYLES
@import 'main';


// // MEDIA QUERIES
// // --to 1366
// @media only screen and (max-width: 1365px) {
//   @import '960';
// }

// // --to 1023
// @media only screen and (max-width: 1023px) {
//   @import '720';
// }

// // --to 740
// @media only screen and (max-width: 740px) {
//   @import '320';
// }



@media (max-width: 1199px) {
  
}



@media (max-width: 991px) {
  header{
    .navbar{
      .navbar-nav{
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;

        .nav-item{
          padding-left: inherit;

          .nav-link{
            display: inline-block;
            width: 300px;
            margin-bottom: .5rem;
            padding: .75em 1em;
            background-color: $brand-white;
            border-radius: 1.25em;
            border: none;
            font-size: 1.25em;
          }

          &:hover{
            .nav-link{
              color: $brand;
            }
          }

          &:last-child{
            .nav-link{
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}



@media (max-width: 767px) {
  
}



@media (max-width: 575px) {
  html{
    font-size: .75rem;
  }

  p, h6,
  .subheading{
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.00625em;
    line-height: 1.5em;
  }

  header{
    .navbar{
      .navbar-nav{
        .nav-item{
          .nav-link{
            width: 100%;
          }
        }
      }
    }
  }

  section{
    &.hero{
      img{
        width: 100%;
      }
    }

    &.project{
      padding-top: 0px;
    }

    &.post{
      padding-top: 2rem;
    }

    &.contact{
      h3{
        font-size: 1.5rem;
      }
    }

    &.post-list{
      .post-item{
        .post-item-card{
          height: auto;
        }
      }
    }
  }

  footer{
    .icon-stack{
      margin-top: 1rem;

      li{
        a{
          font-size: 2rem;
        }
      }
    }
  }

  img.cover{
    height: auto !important;
  }

  .breadcrumb{
    display: inherit;

    .breadcrumb-item{
      display: inline;
    }
  }
}