<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h6 class="subheading">Хотите работать со мной? Напишите мне!</h6>
        <h3><a href="mailto:{{site.email}}?subject=Весточка с сайта-портфолио" onclick="yaCounter44663041.reachGoal('order_footer'); return true;">hello@pavelmednikov.com</a></h3>
      </div>
    </div>
  </div>
</footer>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col text-center">© 2010-2017 {{site.author}}</div>
    </div>
  </div>
</div>