<!-- <footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h6 class="subheading">Хотите работать со мной? Напишите мне!</h6>
        <h3><a href="mailto:{{site.email}}?subject=Весточка с сайта-портфолио" onclick="yaCounter44663041.reachGoal('order_footer'); return true;">hello@pavelmednikov.com</a></h3>
      </div>
    </div>
  </div>
</footer>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col text-center">© 2010-{{site.time|date:'%Y'}} {{site.author}}</div>
    </div>
  </div>
</div> -->

<section class="contact">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h6 class="subheading mb-2">Хотите работать со мной? Напишите&nbsp;мне!</h6>
        <h3>
          <a href="mailto:{{site.email}}?subject=Весточка с сайта-портфолио" onclick="yaCounter44663041.reachGoal('order_footer'); return true;">hello@pavelmednikov.com</a>
        </h3>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 text-center text-md-left mb-3 mb-md-0">
        © 2010-{{site.time|date:'%Y'}} {{site.author}}
      </div>
      <div class="col-12 col-md-6 text-center text-md-right">
        <ul class="icon-stack">
          <li>
            <a href="https://www.behance.net/{{site.behance_username}}" target="_blank"><i class="fab fa-behance fa-fw"></i></a>
          </li>
          <li>
            <a href="https://dribbble.com/{{site.dribbble_username}}" target="_blank"><i class="fab fa-dribbble fa-fw"></i></a>
          </li>
          <li>
            <a href="https://github.com/{{site.github_username}}" target="_blank"><i class="fab fa-github fa-fw"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/{{site.linkedin_username}}" target="_blank"><i class="fab fa-linkedin fa-fw"></i></a>
          </li>
          <li>
            <a href="https://t.me/{{site.telegram_username}}" target="_blank"><i class="fab fa-telegram fa-fw"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>