<section class="pagination">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-10 text">
        <div class="row">  
          {% if page.previous.url %}  
          <div class="col text-left">
            <a class="prev" href="{{page.previous.url}}">&larr; {{page.previous.title}}</a>  
          </div>
          {% endif %}  
          {% if page.next.url %}  
          <div class="col text-right">
            <a class="next" href="{{page.next.url}}">{{page.next.title}} &rarr;</a>  
          </div>
          {% endif %}  
        </div> 
      </div>
    </div>
  </div>
</section>