---
layout: default
title: Статьи
title_tab: Блог Павла Медникова о дизайне
---

<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center"> 
        <h1>{{page.title}}</h1>
      </div>
    </div>
  </div>
</section>


<section class="post-list post-list-home page">

  <div class="container-fluid">
    <div class="row">
    {% if paginator.posts %}
      {% for post in paginator.posts %}
      <div class="post-item col-12 
      {% if forloop.index == 1 %}
      col-sm-12 col-lg-6 post-item-big
      {% else %}
      col-sm-6 col-lg-3
      {% endif %}
      ">
        <a href="{{site.baseurl}}{{post.url}}" class="post-item-card">
          <p class="date">{% include date.html %}</p>
          <p class="title"><strong>{{post.title}}</strong></p>
        </a>
      </div>
      {% endfor %}
    {% else %}
      <div class="col text-center">Статей пока нет :disappointed:</div>
    {% endif %}
    </div>
  </div>

</section>

<!-- <section class="post-list">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-10 text">
        <div class="row">
        {% if paginator.posts %}
          {% for post in paginator.posts %}
          <div class="post-item col-12 col-sm-6 col-md-3">
            <p class="date">{% include date.html %}</p>
            <a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
            <p class="meta">{{post.meta}}</p>
          </div>
          {% endfor %}
        {% else %}
        <div class="col text-center">Статей пока нет :disappointed:</div>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</section> -->

{% include pagination.html %}