---
layout: default
---

<!-- <section class="hero hero-index">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="slogan">{{page.slogan}}</h1>
        <h4 class="subheading">{{page.subheading}}</h4>
        <ul class="icon-stack">
          <li><a href="https://www.behance.net/{{site.behance_username}}" target="_blank"><i class="fa fa-behance"></i></a></li>
          <li><a href="https://dribbble.com/{{site.dribbble_username}}" target="_blank"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="https://github.com/{{site.github_username}}" target="_blank"><i class="fa fa-github"></i></a></li>
          <li><a href="https://www.linkedin.com/in/{{site.linkedin_username}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://t.me/{{site.telegram_username}}" target="_blank"><i class="fa fa-telegram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</section> -->

<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="slogan">{{page.slogan}}</h1>
        <h5 class="subheading">{{page.subheading}}</h5>
        <a href="#" class="btn" data-toggle="modal" data-target="#contactForm" onclick="yaCounter44663041.reachGoal('order_header'); return true;">Заказать сайт</a>
      </div>
    </div>
    <div class="row">
      <div class="illustration" data-tilt data-tilt-axis="x" data-tilt-perspective="1500">
        <img class="card-img-1" src="{{site.baseurl}}/img/home/illustrationBG.svg" alt="illustrationBG.svg">
        <img class="card-img-2" src="{{site.baseurl}}/img/home/illustrationWireframes.svg" alt="illustrationBG.svg">
        <img class="card-img-3" src="{{site.baseurl}}/img/home/illustrationScreens.svg" alt="illustrationBG.svg">
        <img class="card-img-4" src="{{site.baseurl}}/img/home/illustrationPashu.svg" alt="illustrationBG.svg">
      </div>
    </div>
  </div>
</section>



<!-- <section class="works">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-10">
        <div class="row">

          {% for project in site.projects %}
          <div class="col-md-6 text-center"><a class="work" href="{{site.baseurl}}{{project.url}}">
              <div class="work-img"><img src="{{site.baseurl}}/img/project_img/{{project.folder}}/{{project.cover}}" alt="Проект — {{project.title}}"></div>
              <div class="info text-center">
                <h3 class="work-name">{{project.title}}</h3>
              </div></a></div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="works">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-7 section-heading">
        <h2 class="slogan">{{page.works_heading}}</h2>
        <h6 class="subheading">{{page.works_subheading}}</h6>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      {% for project in site.projects %}
      <div class="col-md-6">
        <a href="{{site.baseurl}}{{project.url}}" class="work" data-tilt data-tilt-axis="x" data-tilt-perspective="1500">
          <div class="work-img">
            <img src="{{site.baseurl}}/img/project_img/{{project.folder}}/{{project.cover}}" alt="Проект — {{project.title}}">
            <div class="work-img-overlay"></div>
            <div class="work-img-inner">
              <div class="work-img-text">
                <p>{{project.role}}</p>
                <h4>{{project.title}}</h4>
              </div>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>



<section class="services">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-3">
        <h1 class="slogan">{{page.services_heading}}</h1>
        <h6 class="subheading">{{page.services_subheading}}</h6>
      </div>
      <div class="col-md-5 offset-md-2">
        <ul class="service-list">
          {% for service in page.services %}
          <li>{{ service }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="clients">
  <div class="clients-grid container">
    <div class="row text-center">
      <div class="col">
        <h1 class="slogan">{{page.clients_heading}}</h1>
        <h6 class="subheading">{{page.clients_subheading}}</h6>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-10">
        <div class="row justify-content-around align-items-center">
          <div class="col-4 col-sm-4 col-md-2 text-center"><img src="{{site.baseurl}}/assets/minfin.png" alt="Министерство финансов Российской Федерации"></div>
          <div class="col-4 col-sm-4 col-md-2 text-center"><img src="{{site.baseurl}}/assets/aiesec.png" alt="AIESEC"></div>
          <div class="col-4 col-sm-4 col-md-2 text-center"><img src="{{site.baseurl}}/assets/rosatom.png" alt="Росатом"></div>
          <div class="col-4 col-sm-4 col-md-2 text-center"><img src="{{site.baseurl}}/assets/karo_logo.png" alt="Каро фильм"></div>
          <div class="col-4 col-sm-4 col-md-2 text-center"><img src="{{site.baseurl}}/assets/loko.png" alt="ФК Локомотив"></div>
        </div>
      </div>
    </div>
  </div>
</section>

{% if site.posts.size > 0 %}
<section class="post-list post-list-home">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-10 text">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <h6 class="title"><a href="{{site.baseurl}}blog/">{{page.blog_heading}}</a></h6>
            <h6 class="subheading">{{page.blog_subheading}}</h6>
          </div>
          {% for post in site.posts limit:3 %}
          <div class="post-item col-12 col-sm-6 col-md-3">
            <p class="date">{% include date.html %}</p>
            <!-- <p class="date">{{post.date | date: "%d.%m.%Y"}}</p> -->
            <a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
            <p class="meta">{{post.meta}}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% if site.sideprojects.size > 0 %}
<section class="post-list post-list-home border-0">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-10 text">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <h6 class="title mt-0"><a href="{{site.baseurl}}sideprojects/">{{page.sideprojects_heading}}</a></h6>
            <h6 class="subheading">{{page.sideprojects_subheading}}</h6>
          </div>
          {% for sideproject in site.sideprojects limit:3 %}
          <div class="post-item col-12 col-sm-6 col-md-3">
            <a href="{{site.baseurl}}{{sideproject.url}}">
              <img src="{{site.baseurl}}/img/sideproject_img/{{sideproject.folder}}/{{sideproject.cover}}" class="m-0" alt="Проект — {{project.title}}">
              <!-- {{sideproject.title}} -->
            </a>
            <!-- <p class="meta">{{sideproject.meta}}</p> -->
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
