---
layout: default
---

<section class="hero hero-index">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center"> 
        <h1>{{page.title}}</h1>
      </div>
    </div>
  </div>
</section>
<section class="project">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-10 text">
        <div class="row descr">
          <div class="col-md-6"><img class="cover" src="{{site.baseurl}}/img/project_img/{{page.folder}}/{{page.cover}}" alt="Проект — {{page.title}}" width="100%" height="334"></div>
          <div class="col-md-6">
            {% if page.customer %}
            <p class="descr-heading">Заказчик</p>
            <p>{{page.customer}}</p>
            {% endif %}
            {% if page.agency %}
            <p class="descr-heading">Агентство</p>
              {% if page.agency_url %}
              <p><a href="{{page.agency_url}}" target="_blank">{{page.agency}}</a></p>
              {% else %}
              <p>{{page.agency}}</p>
              {% endif %}
            {% endif %}
            {% if page.src %}
            <p class="descr-heading">Ссылка на проект</p>
            <p><a href="{{page.src}}" target="_blank">{{page.src}}</a></p>
            {% endif %}
            {% if page.role %}
            <p class="descr-heading">Роль в проекте</p>
            <p>{{page.role}}</p>
            {% endif %}
            {% if page.description %}
            <p class="descr-heading">Описание</p>
            <p>{{page.description}}</p>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col">
            {{content}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

